name: invictus_api
description: "A common platform interface for the invictus plugin."
version: 0.0.1
repository: https://github.com/yanshouwang/invictus
issue_tracker: https://github.com/yanshouwang/invictus/issues

resolution: workspace

environment:
  sdk: ^3.9.2
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
